<div *ngIf="meal">
    <h2 class="m-5">{{meal.name | uppercase}} Details</h2>
    <div>id: {{meal._id}}</div>
    <div>name: {{meal.name}}</div>
    <div>type: {{meal.type}}</div>
    <div>rating: {{meal.rating??"N/A"}}</div>
    <div>source: {{meal.source??"N/A"}}</div>

    <h3>Ingredients</h3>
    <ul>
        <li *ngFor="let mealIngredient of mealIngredients$ | async">    
            {{mealIngredient.quantity}} {{mealIngredient.measurement}}
            <ng-container *ngFor="let ingredient of ingredients$ | async">
                <ng-container *ngIf="ingredient._id == mealIngredient.ingredientId">
                    {{ingredient.name}}
                </ng-container>
            </ng-container>
        </li>
    </ul>
</div>
<button type="button" routerLink="/meals">Back</button>
