<form class="meal-ingredient-form" autocomplete="off" [formGroup]="mealIngredientForm" (ngSubmit)="submitForm()">
    <!-- Meal Ingredients -->
      <ul>
        <li *ngFor="let mealIngredient of mealIngredients$ | async" > 
          <!-- TODO: Get ingredient name from Ingredients collection -->
          <!-- <span *ngIf="mealIngredient.mealId == mealId"> -->
            <ng-container *ngIf="mealIngredient.mealId == mealId">
              {{mealIngredient._id}} -- {{mealIngredient.quantity}} {{mealIngredient.measurement}}
            </ng-container>
            
          <!-- </span> -->
          <!-- <button class="btn btn-primary me-1" [routerLink]="['edit/', mealIngredient._id]">Edit</button> -->
          <button class="btn btn-danger" (click)="deleteMealIngredient(mealIngredient._id || '')">Delete</button>
        </li>
      </ul>
      
      <h3>Ingredient</h3>
      <div class="input-group mb-3">
        <select class="form-select" formControlName="ingredientId">
          <option *ngFor="let ingredient of ingredients$ | async" value="{{ingredient._id}}" >{{ingredient.name}}</option>
        </select>
        <span class="input-group-text">Quantity</span>
        <input class="form-control" type="number" id="quantity" formControlName="quantity" placeholder="0">
        <span class="input-group-text">Measurement</span>
        <input class="form-control" type="text" id="measurement" formControlName="measurement" placeholder="Measurement">
        <button class="btn btn-outline-secondary"type="submit">+</button>

      </div>  
      <div class="alert alert-secondary">
        * If the ingredient isn't available please add it on the <a routerLink="/ingredients" class="alert-link">Ingredients</a>
        page first.
      </div>
  
      <div>
        <button class="btn btn-warning" type="button" routerLink="../../">Done</button>
      </div>
  
  </form>  