

<h2 class="text-center m-5">Meal Randomizer</h2>

<form class="meal-randomizer-form" autocomplete="off" (ngSubmit)="randomizeMeals()" [formGroup]="mealRandomizerForm">
    <div class="input-group mb-3">
        <span class="input-group-text">#</span>
        <input class="form-control" type="number" id="count" formControlName="count" value="0" placeholder="0">
    </div>

    <div class="input-group mb3">
        <input type="checkbox" class="btn-check" name="options" id="meatless" formControlName="meatless" checked>
        <label class="btn btn-outline-secondary" for="meatless">Meatless</label>

        <input type="checkbox" class="btn-check" name="options" id="chicken" formControlName="chicken" checked>
        <label class="btn btn-outline-secondary" for="chicken">Chicken</label>

        <input type="checkbox" class="btn-check" name="options" id="turkey" formControlName="turkey" checked>
        <label class="btn btn-outline-secondary" for="turkey">Turkey</label>

        <input type="checkbox" class="btn-check" name="options" id="other" formControlName="other" checked>
        <label class="btn btn-outline-secondary" for="other">Other</label>
    </div>

    <button class="btn btn-primary" type="submit">Randomize Meals</button>

</form>

<ng-container *ngIf="showShoppingList">

    <h3>Meals</h3>
    <ul>
        <li *ngFor="let meal of randomizedMeals$ | async">
            {{meal.name}}
        </li>
    </ul>

    <h3>Shopping List</h3> 
    <h4>Ingredients</h4>
    <ul *ngFor="let meal of randomizedMeals$ | async">
        <li>
            <h5>{{meal.name}}</h5>
        </li>
        <ul *ngFor="let item of mealIngredients$ | async">
            <ng-container *ngIf="item.mealId == meal._id">
                <li>
                    {{item.quantity}} {{item.measurement}}
                    <ng-container *ngFor="let ingredient of ingredients$ | async">
                        <ng-container *ngIf="ingredient._id == item.ingredientId">
                            {{ingredient.name}}
                        </ng-container>
                    </ng-container>
                </li>
            </ng-container>
        </ul>
    </ul>
</ng-container>