<h2 class="text-center m-5">Ingredients List</h2>

<div id="ingredient-search-component">
  <div class="input-group mb-3">
      <span class="input-group-text">Search</span>
      <input #searchBox id="search-box" (input)="search(searchBox.value)"/>
  </div>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Action</th>
      </tr>
    </thead>
    
    <tbody *ngIf="showAll">
      <tr *ngFor="let ingredient of ingredients$ | async">
        <td><a routerLink="detail/{{ingredient._id}}">{{ingredient.name}}</a></td>
        <td>
          <button class="btn btn-primary me-1" [routerLink]="['edit/', ingredient._id]">Edit</button>
          <button class="btn btn-danger" (click)="deleteIngredient(ingredient._id || '')">Delete</button>
        </td>
      </tr>
    </tbody>

    <tbody *ngIf="!showAll">
      <tr *ngFor="let ingredient of searchedIngredients$ | async">
        <td><a routerLink="detail/{{ingredient._id}}">{{ingredient.name}}</a></td>
        <td>
          <button class="btn btn-primary me-1" [routerLink]="['edit/', ingredient._id]">Edit</button>
          <button class="btn btn-danger" (click)="deleteIngredient(ingredient._id || '')">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<button class="btn btn-primary mt-3" [routerLink]="['new']">Add a New Ingredient</button>